.campus__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 3rem;
}

.row {
    width:90%;
    margin:auto;
    text-align:center;
    padding-top:0;
    display:flex;
    justify-content:space-between;
}

.campus-col {
    flex-basis:30%;
    border-radius: 10px;
    margin-bottom:30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width:100%;
    display:block;
}

.layer {
    background:transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
}

.layer:hover{
    background:rgba(226, 0, 0,0.7);
}

.layer h3{
    width:100%;
    font-weight: 500;
    color:#fff;
    bottom:0;
    left:50%; /* left 50% will move the element exactly at the center of the main container */
    transform:translateX(-50%);
    position:absolute;
    opacity:0;
    transition: 0.5s;
}

.layer:hover h3{
 bottom:50%;
 opacity:1;
}
